@model IEnumerable<JediTournamentWebApp.Models.JediWebModel>
<table class="table table-bordered">

    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.Nom)
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>

        }
    </tbody>
</table>
