@model IEnumerable<JediTournamentWebApp.Models.CaracWebModel>

<tr>
    <td>
        <select class="enum-chooser" name="caracIds">
            <option value="">Choose a characteristic</option>
            @foreach (var item in Model) {
                <option value="@item.Id">
                    @Html.DisplayFor(Model => item.Nom) -
                    @Html.DisplayFor(Model => item.Definition) -
                    @Html.DisplayFor(Model => item.Valeur)
                </option>
            }
        </select>
    </td>
    <td></td>
</tr>