<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceJediTournament" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3018/ServiceJediTournament.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceJediTournament"
                contract="ServiceJediTournamentEntities.IServiceJediTournament"
                name="BasicHttpBinding_IServiceJediTournament" />
        </client>
    </system.serviceModel>
</configuration>