body {
    background-image : url("background.jpg");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Edit table */

.gestion-table {
    margin-top : 100px;
}

.select-column, .edit-column {
    width : 20px;
}

.item label {
    cursor : pointer;
}

.item td img {
    display : block;
    width : 20px;
    height : 20px;
    margin-left : auto;
    margin-right : auto;
    cursor : pointer;
}

.caracteristiques {
    display : none;
}

input {
    border : none;
    background : none;
    color : white;
}

/* End edit table */

#removeButton, #createButton {
    display : block;
    position : relative;
    margin-left : auto;
    margin-right : auto;
}

/* Creation table */

.creation-area h3 {
    display : block;
    position : relative;
    margin-top : 80px;
    text-align : center;
}